/* #region GENERAL STYLES */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

button {
	z-index: 999;
}

img {
    width: 100%;
    height: auto;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: 5em;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
  
li {
padding-left: 1em;
text-indent: -1em;
}
  
li:before {
content: "♪";
padding-right: 5px;
}

.image {
    margin: 2em 25% 2em 25%;
}

#counter {
	display:none;
  }

/* #endregion GENERAL STYLES */

/* #region STYLE_BUTTONS */
.style_btn {
	display: block;
	position: fixed;
	width: 40px;
	bottom: 5px;
}

.dark {
    background-color: white;
    color: black;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.float_plus{
	width:40px;
	height:40px;
	background-color: rgba(85, 255, 212, 0.8);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.float_minus{
	width:40px;
	height:40px;
	background-color: rgba(85, 255, 212, 0.8);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.float_mode{
	width:40px;
	height:40px;
	background-color: rgba(85, 255, 212, 0.8);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
/* #endregion STYLE_BUTTONS */

/* #region MOBILE MENU */
@media screen and (min-width: 600px) {
	.menu_mobile_container {
		/* visibility: hidden; */
	}
}

#subscroll {
	font-style: italic;
	min-width:140px;
}

.btn_mobile {
	min-width:140px;
	font-weight: bold;
}

.menu_button_mobile {
	position:fixed;
	background-color: rgba(85, 255, 212, 0.9);
	color: white;
	font-size: 16px;
	border: none;
	cursor: pointer;
	height: 19px;
	top: 1px;
}

.menu_button_mobile:hover, .menu_button_mobile:focus {
	background-color: rgba(51, 158, 131, 0.9);;
}

.menu_mobile_container {
	position: fixed;
	top: 20px;
	display: inline-block;
}

.btn_group_mobile {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	width: 140px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.btn_group_mobile a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.menu_mobile_container a:hover {
	background-color: #ddd;
}

.show {
	display: block;
}

/* #endregion MOBILE MENU */

/* #region PAGE DIVIDERS */
.inner {
    width:50%;
    margin: 3px auto;
}

.outer {
    width:25%;
    margin:0 auto;
}
/* #endregion PAGE DIVIDERS */

/* #region INFO BLOCKS */
.intro_container, .early_electronic, .game_music, .edm_explainer, .extra_songs, .soundtracks  {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5em;
}

@media screen and (max-width: 600px) {
	.intro_container, .early_electronic, .game_music, .edm_explainer, .extra_songs, .soundtracks {
		margin: 0 1em 3em 1em !important;
	}
	
}

/* #endregion INFO BLOCKS */

/* #region VIDEO BLOCKS */
.info {
    margin: 2em 0 2em 0;
}

.artist, .film {
    font-size: 3em;
    margin: 0 15% 0 15%;
}

.song {
    font-size: 2.5em;
    font-style: italic;
    font-weight: 0;
    margin: 0 15% 0 15%;
}

.year {
    font-size: 2em;
    margin: 0 15% 0 15%;
}

.genre {
    font-size: 2em;
    margin: 0 15% 0 15%;
}

.details {
    font-size: 1rem;
    margin: .5em 15% 0 15%;
}

.video {
    display: flex; 
	justify-content: center;
    margin-top: 1em;
}

video {
	width: 100%;
}

.quote {
    font-style: italic;
    margin: 0em 10% 0 10%;
}

@media screen and (max-width: 850px) {
	.details, .artist, .film, .year, .genre {
		margin: .5em 0px 0px 0px !important;
	}
}
/* #endregion VIDEO BLOCKS */

/* #region SCROLLBAR */
::-webkit-scrollbar {
	width: 40px;
  }
  
  ::-webkit-scrollbar-track {
	background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
	border: 6px solid transparent;
	background-clip: content-box;
	background: #ee82ee;
	border-radius: .5em;
	box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25),inset -2px -2px 2px rgba(0,0,0,.25);
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background-color: #a8bbbf;
  }
  /* #endregion SCROLLBAR */